.chart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(248, 242, 242, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(247, 246, 246, 0.75);
  background-color: rgb(25, 25, 40);
  color: aliceblue;
}

.chartTitle {
  margin-bottom: 20px;
  color: antiquewhite;
}
